package ${package}.domain;

import java.io.Serializable;
import java.util.Date;
import com.yaozou.platform.member.domain.PageVo;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
import lombok.EqualsAndHashCode;
import lombok.Data;


 /**
 * ${comments}
 * @author ${author}
 * @email ${email}
 * @version $Id: ${className}Vo.java, v 0.1 ${datetime} ${author} Exp $
 */
@Data
@EqualsAndHashCode(callSuper=false)
public class ${className}Vo extends PageVo implements Serializable {
  private static final long serialVersionUID = 1L;
#foreach ($column in $columns)
  //$column.comments
	private $column.attrType $column.attrname;
#end

}
