<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.3//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanwei.platform.wallet.repository.user.UserAccInfoMapper">   
 	<resultMap id="BaseResultMap" type="com.yanwei.platform.entity.user.UserAccInfo">
		<id property="id" column="id" jdbcType="BIGINT" />
		<result property="userId" column="user_id" jdbcType="BIGINT" />
		<result property="oldBizPhone" column="old_biz_phone" jdbcType="VARCHAR" />
		<result property="bizPhone" column="biz_phone" jdbcType="VARCHAR" />
		
		<result property="userName" column="user_name" jdbcType="VARCHAR" />
		
		<result property="userRealName" column="user_real_name" jdbcType="VARCHAR" />
		<result property="userIdType" column="user_id_type" jdbcType="BIGINT" />
		<result property="userIdNumber" column="user_id_number" jdbcType="VARCHAR" />
		
		<result property="status" column="status" jdbcType="INTEGER" />
		<result property="failReson" column="fail_reson" jdbcType="VARCHAR" />
		
		<result property="crTime" column="cr_time" jdbcType="VARCHAR" />
		<result property="crDate" column="cr_date" jdbcType="VARCHAR" />
		
		<result property="balanceAmt" column="balance_amt" jdbcType="DECIMAL" />
		<result property="frozenAmt" column="frozen_amt" jdbcType="DECIMAL" />
		
		<result property="authenticationTime" column="authentication_time" jdbcType="VARCHAR" />
		<result property="authenticationDate" column="authentication_date" jdbcType="VARCHAR" />
	</resultMap>
 	<sql id="Base_Column_List">
 		ua.`id`,ua.`user_id`,ua.`old_biz_phone`,
 		ua.`user_name`,
		ua.`biz_phone`,ua.`user_real_name`,ua.`user_id_type`,
		ua.`user_id_number`,ua.`status`,ua.`fail_reson`,
		ua.`cr_time`,ua.`cr_date`,ua.`balance_amt`,ua.`frozen_amt`,
		ua.`authentication_time`,ua.`authentication_date`
 	</sql>
 	
 	<insert id="insert" parameterType="map">
 		INSERT INTO `acc_user_acc_info` 
 		<trim prefix="(" suffix=")" suffixOverrides=",">
 		`user_id`,`old_biz_phone`,
		`biz_phone`,`user_real_name`,
		`user_id_type`,`user_id_number`,
		`status`,
		`cr_time`,`cr_date`,
		`balance_amt`,`frozen_amt`,`user_name`
		</trim>
	   VALUES
	   (#{userId},'',#{phone},#{name},
	   #{identityType},#{identityNo},
	   1,#{crTime},#{crDate},0.00,0.00,#{userName})
 	</insert>
 	
 	<update id="update" parameterType="map">
 		UPDATE `acc_user_acc_info` AS ua 
		<set>
			<if test="frozen != null">
				ua.`frozen_amt`=#{frozen},
			</if>
			<if test="balance != null">
				ua.`balance_amt`=#{balance},
			</if>
			<if test="userName != null">
				ua.`user_name`=#{userName},
			</if>
			<if test="authenticationTime != null">
				ua.`authentication_time`=#{authenticationTime},
			</if>
			<if test="authenticationDate != null">
				ua.`authentication_date`=#{authenticationDate},
			</if>
			<if test="status != null">
				ua.`status`=#{status},
			</if>
			
			<if test="name != null">
				ua.`user_real_name`=#{name},
			</if>			
			<if test="identityType != null">
				ua.`user_id_type`=#{identityType},
			</if>
			<if test="identityNo != null">
				ua.`user_id_number`=#{identityNo},
			</if>
			
			<if test="phone != null">
				ua.`biz_phone`=#{phone},
			</if>
			<if test="oldPhone != null">
				ua.`old_biz_phone`=#{oldPhone},
			</if>
		</set>
		<where>
			<if test="userId != null">
				AND	ua.`user_id`=#{userId}
			</if>
		</where>
 	</update>
 	
 	<select id="getUserInfo" parameterType="map" resultMap="BaseResultMap">
 		SELECT 
 		<include refid="Base_Column_List" />
 		FROM `acc_user_acc_info` ua 
 		<where>
 			<if test="userId != null">
				AND	ua.`user_id`=#{userId}
			</if>
			<if test="phone != null and phone!=''">
				AND	ua.`biz_phone`=#{phone}
			</if>
			<if test="userIdNumber != null and userIdNumber!=''">
				AND	ua.`user_id_number`=#{userIdNumber}
			</if>
 		</where>
 	</select>
 	
 	<select id="find" parameterType="map" resultMap="BaseResultMap">
 		SELECT 
 		<include refid="Base_Column_List" />
 		FROM `acc_user_acc_info` ua 
 		<where>
 			<if test="userId != null">
				AND	ua.`user_id`=#{userId}
			</if>
			<if test="phone != null and phone!=''">
				AND	ua.`biz_phone`=#{phone}
			</if>
			<if test="userIdNumber != null and userIdNumber!=''">
				AND	ua.`user_id_number`=#{userIdNumber}
			</if>
			<if test="userName != null and userName != ''">
				AND ua.`user_name` LIKE CONCAT('%',#{userName},'%')
			</if>
			<if test="startDate != null and startDate != ''">
				AND ua.`authentication_date` &gt;= #{startDate}
			</if>
			<if test="endDate != null and endDate != ''">
				AND ua.`authentication_date` &lt;= #{endDate}
			</if>
 		</where>
 		ORDER BY ua.`authentication_time` DESC
 	</select>
 	
</mapper>